input[type=submit] {
    width: 450px;
    background-color: #3dde2eb1;
    color: rgb(7, 7, 7);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
button[type=submit] {
    width: 100%;
    background-color: #00bfffc6;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
input[type=button] {
    width: 100%;
    background-color: #3dde2eb1;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}